mark {
  background-color: #c0ffc8;
}

.border-highlight {
  border: 2px dashed red;
  padding: 0.03em 0.25em;
}

li {
  margin: 10px 0;
}

.icon img {
  border-radius: 0px;
  float: right;
  margin: 0px 5px 0px 5px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
  max-width: 25px;
}

@media screen and (max-width: 640px) {
  .icon img {
    max-width: 25%;
  }
}